@font-face {
    font-family: "mono";
    src: url("@/assets/font/JetBrainsMono-Regular.ttf");
}

a {
    @apply text-gray-400 decoration-[none];
}

a:hover {
    @apply underline;
}

button:focus {
    outline: none;
}